h1 {
	color:navy;
	font-family: 'Roboto', sans-serif;;
}

h2 {
	color:darkblue;
	font-family: 'Roboto', sans-serif;;
}

h3 {
	color:grey;
	font-family: 'Roboto', sans-serif;
}
h4 {
	font-family: 'Roboto', sans-serif;
}
.content {
	width: 250px;
    padding-left: 120px;
    padding-top:7px;
    overflow: hidden;
}

.content img {
    margin-right: 200px;
    float: under;
}