h1 {
	color:navy;
	font-family: 'Roboto', sans-serif;;
}

h2 {
	color:darkblue;
	font-family: 'Roboto', sans-serif;;
}

h3 {
	color:grey;
	font-family: 'Roboto', sans-serif;
}
h4 {
	font-family: 'Roboto', sans-serif;
}
.content {
    width: 400px;
    border: 4px;
    padding: 20px;
    overflow: hidden;
}

.content img {
    margin-right: 15px;
    float: left;
}